/* My Work */
.mywork {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  grid-template-areas: "caseStudy1" "caseStudy2" "caseStudy3";
}
.workgrid {
  grid-area: "caseStudy";
  grid-template-columns: 1fr 1fr;
}
/* About */
/* Hero Img */
.ContentAbout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 50px;
}
.HeroAbout {
  margin-bottom: 80px;
}
.InfoHero {
  justify-content: right;
  margin-right: 50px;
}
.InfoHero h1 {
  margin-bottom: 20px;
}
.InfoHero span {
  margin-top: 10px;
}
/* Hero Img */

/* Skill Section */
.SkillTitle {
  text-align: center;
}
.SkillBlock svg {
  color: #ffbf3b;
  fill: #ffbf3b;
  width: 150px;
  height: 150px;
}
.SkillBlock {
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
  position: relative;
}
#Skills {
  align-content: center;
  margin: auto;
  background-color: #ffbe3b46;
  padding: 50px;
}
.flexContainerS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 50px;
  width: 1fr 1fr 1fr;
}
/* Skill Section */

/* Values Section */
.flexContainerV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#Values {
  align-content: center;
  margin: auto;
}
.ValueBlock {
  padding: 50px;
  background-color: #ffbf3b;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  margin: 50px;
  position: relative;
  color: #1c1b1f;
}
.ValueBlock svg {
  fill: #ffffff;
  width: 150px;
  height: 150px;
}
.ValueTitle {
  text-align: center;
}
/* Values Section */

hr {
  width: 30%;
  height: 1px;
  background-color: #ada8b6;
  color: #ada8b6;
}

/* Typography */

h1 {
  font-size: 48pt;
  letter-spacing: 5%;
  line-height: 100%;
  font-style: normal;
  font-weight: bolder;
  font-family: nunito;
}
h2 {
  font-size: 36pt;
  letter-spacing: 2pt;
  line-height: normal;
  font-style: normal;
  font-weight: semi-bold;
  font-family: nunito;
}
h3 {
  font-family: nunito;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1%;
}
p {
  font-size: 16pt;
  letter-spacing: 2pt;
  line-height: normal;
  font-style: normal;
  font-weight: normal;
  font-family: Open sans;
}

/* Nav */

.logoinline-block {
  color: #fff;
  font-weight: 700;
  margin: 0;
}
.inline-block {
  display: inline-block;
  margin: auto;
}
.navlink {
  display: block;
  float: inline-end;
}
/* Nav Links */
.ContactButton {
  display: inline-block;
  margin-inline-end: auto;
}
.navItems {
  list-style: none;
  display: inline-block;
}
.navItems li {
  width: 100%;
  margin: 0 0 1em 0;
  display: inline-block;
  align-content: center;
}

.navItems a {
  color: #1c1b1f;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  align-content: center;
}

/* Hero Section */

.hero {
  height: 500px;
  padding: 25px;
  display: flex;
  margin: 50px;
}
.Content {
  width: 500px;
  margin: 0 auto;
}
.herotext {
  position: absolute;
  padding: 6%;
  margin-right: 50px;
}
.Itext {
  width: auto;
  height: auto;
}
/* Body */
body {
  width: 100%;
}

/* Footer */
footer {
  background-color: #f5f0f6;
  padding: 5px;
}
.footernav {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  text-decoration: none;
}
.SocialMedia {
  display: inline-block;

  text-decoration: none;
  width: 50px;
  height: 50px;
}
#copyright {
  font-size: 10pt;
}

/* Buttons */
.button {
  background-color: #ffbf3b;
  color: white;
  font-family: nunito;
  font-weight: bold;
  font-size: 18;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 10pt;
}
.button2 {
  background-color: white;
  color: #ada8b6;
  font-family: nunito;
  font-weight: bold;
  font-size: 18;
  border: #ada8b6;
  width: 50px;
  height: 50px;
  border-style: solid;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10pt;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  .flexContainer {
    display: flex;
    width: 100%;
  }
  .mywork {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "caseStudy1" "caseStudy2" "caseStudy3";
  }
}
